@import url("reset.css");
:root{
    /* ### Gradient Background gradient  */
        /* - Intro/CTA mobile nav: */
            --Very-light-red: #ff8f70; 
            --Light-red: hsl(353, 100%, 62%);
        /* Background gradient - body:  */
            --Very-dark-gray-blue: hsl(237, 17%, 21%); 
            --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
        /* ### Primary  */
            --Light-red-CTA-text: hsl(356, 100%, 66%);
            --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%) ;
            --Very-dark-blue-headings: hsl(208, 49%, 24%);
        /* ### Neutral  */
             --White-text: hsl(0, 0%, 100%) ;
             --blue-footer-text: hsl(240, 2%, 79%) ;
             --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%) ;
             --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-image: url("images/bg-pattern-intro-desktop.svg"),linear-gradient(to right, var(--Very-light-red), var(--Light-red));
    background-position: 27% -135rem, right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 12rem;
    padding-bottom: 15rem;
    height:fit-content;
    height: fit-content;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    gap: 10rem;
    border-bottom-left-radius: 8rem;
}
@media (max-width:1300px) {
    header{
        background-position-x: 23%;
    }
}
nav{
    display: flex;
    gap: 7rem;
    width: 100%;
}
.nav-items-desktop-row{
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
}
.nav-desktop-options{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.arrow-dark{
    display: none;
}
.nav-desktop-buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item-head{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
   color: var(--blue-footer-text); 
}
.header-main-btn-start, .header-main-btn-more{
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1.2rem 2rem;
    font-weight: 700;
}
.nav-item-head-signup{
    border: 1px solid white;
    border-radius: 2rem;
    background-color: white;
    padding: 1.2rem 3rem;
    color: hsl(355, 100%, 74%);
    margin-right: 1rem;
}
.header-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    text-align: center;
}
.header-main-line1{
    font-size: 5.5rem;
    font-weight: 600;
}
.header-main-line2{
    font-size: 2rem;
color: var(--blue-footer-text);
}
.header-main-button{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 3rem;
    align-items: center;
}
.nav-mobile-hamburger,.nav-mobile-close{
    display: none;
}
nav ul{
    position: absolute;
    background-color: var(--White-text);
    border-radius: .6rem;
    padding: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    margin-top: 1.3rem;
    font-size: 1.5rem;
    gap: 2rem;
    font-weight: 400;
    min-width: 10rem;
    box-shadow: -2px 2px 15px -2px #2D2C2B;
}
.design-for-future{
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
    padding: 4rem 0 5rem 12rem;
}
main{
    font-family: 'Overpass', sans-serif;
}
.page-section-head{
    position: absolute;
    font-size: 3.2rem;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 8rem;
}
.design-desktop-illustration{
    width: 67rem;
}
.design-mobile-illustration{
    display: none;
}
.main-page-section-design-for-future-text{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: center;
    padding-right: 5rem;
}
.page-sub-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.page-sub-section-head{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--Very-dark-desaturated-blue);
}
.page-sub-section-body{
    font-size: 1.5rem;
    color: var(--Very-dark-grayish-blue-body-copy-blue);
    line-height: 1.6;
}
.state-of-art{
    background-repeat: no-repeat;
    background-image: url("images/bg-pattern-circles.svg"), linear-gradient(to right, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
    display: flex;
    overflow-x: visible;
    display: flex;
    gap: 5rem;
    align-items: center;
    background-position: -21rem -50rem, right;
    height: 400px;
    margin-bottom: 10rem;
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
}
.state-art-illustration{
    position:relative;
    padding: 0 0 0 10rem;
    top: 2rem;
}
.heading-state-of-art{
    position: inherit;
    margin-top: 0;
    color: var(--White-text);
    text-align: left;
}
.page-section-body{
    padding: 0 12rem 0 0;
    color: var(--blue-footer-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}
.free-open-simple{
    display: flex;
    gap: 5rem;
    overflow-y: hidden;
}
.main-page-section-free-simple-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    padding-right: 12rem;
}
.free-desktop-illustration{
    width: 70rem;
    position: relative;
    left: -27.5rem;
}
.free-mobile-illustration{
    display: none;
}
footer{
    background-color: var(--Very-dark-black-blue-footer-background);
    display: flex;
    justify-content: flex-start;
    gap: 15rem;
    padding: 7rem 12rem;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7rem;
    border-top-right-radius: 8rem;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer-item-head{
    font-size: 2.2rem;
    color: var(--blue-footer-text);
    font-weight: 500;
}
.footer-sub-item{
    font-size: 1.4rem;
    color: var(--blue-footer-text);
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}
.footer-item-wrapper{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-item-head-login {
    padding: 1.2rem 3rem;
}
@media (max-width:1150px) {
    header{
        padding: 6rem 8rem;
        padding-bottom: 15rem;
    }
    .design-for-future{
        padding: 4rem 0 5rem 8rem;
    }
    .state-art-illustration {
        padding: 0 0 0 6rem;
    }
    .state-of-art{
        gap: 1rem;
    }
    .main-page-section-design-for-future-text{
        padding-right: 1rem;
    }
    .page-section-body {
        padding: 0 8rem 0 0;
    }
    .free-open-simple{
        gap: 1rem;
    }
    .page-section-head{
        margin-top: 5rem;
    }
    .main-page-section-free-simple-text{
        padding-right: 8rem;
    }
    .heading-state-of-art{
        margin-top: 0;
    }
}
@media (max-width:1000px) {
    header {
        padding: 6rem 4rem;
        padding-bottom: 15rem;
    }
    .design-for-future {
        padding: 4rem 4rem 4rem 4rem;
    }
    .nav-item-head-login {
        padding: 0;
    }
    .state-art-illustration {
        padding: 0 0 0 0;
    }
    .page-section-body {
        padding: 0 0rem 4rem 0;
    }
    .main-page-section-free-simple-text {
        padding-right: 0rem;
    }
    .heading-state-of-art {
        margin-top: 0;
    }
    .main-page-section-design-for-future-text{
        padding: 0;
    }
    .state-of-art{
        padding: 4rem;
    }    
}
@media (max-width:500px) {
    .nav-items-mobile-row{
        left: 50%;
        transform: translate(-50%, 0);
        right: unset;
    }
}
@media (max-width:1000px) {
    header{
    background-image: url("images/bg-pattern-intro-mobile.svg"), linear-gradient(to right, var(--Very-light-red), var(--Light-red));
    background-position: -35rem -23rem, right;
    border-bottom-left-radius: 8rem;
    gap: 7rem;
    }
   .header-main-line1{
        font-size: 4rem;
    }
    .nav-mobile-hamburger{
        display: inline;
    }
    .nav-mobile-close{
        display: none;
    }
    nav{
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .nav-items-desktop-row {
        display: none;
    }
    .nav-items-mobile-row{
        display: none;
        flex-direction: column;
        background-color: #fff;
        padding: 3rem;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 1rem;
        box-shadow: -2px 2px 15px -2px #2D2C2B;
        gap: 3rem;
        top: 5rem;
        right: 0;
        width: 80%;
        max-width: 25rem;
        flex-grow: 0;
    }
    .nav-mobile-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 4rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .nav-mobile-buttons{
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--Very-dark-grayish-blue-body-copy);
        padding-top: 3rem;
        width: 100%;
        gap: 4rem;
        align-items: center;
        justify-content: unset;
    }
    
    .arrow-dark{
        display: initial;
    }
    .arrow-light{
        display: none;
    }
    .nav-item-head {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: var(--Very-dark-blue-headings);
    }
    .nav-item-head-signup{
        margin: 0 auto;
        border: none;
        border-radius: 2rem;
        background: linear-gradient(to right, var(--Very-light-red), var(--Light-red));
        padding: 1.2rem 4rem;
        color: var(--White-text);
        width: fit-content;
    }
    .nav-item-head-login{
        padding: 1.2rem 4rem;
        margin: 0 auto;
    }
    .nav-item-login{
        display: flex;
        justify-content: center;
    }
    nav ul{
        position: initial;
        background-color: var(--blue-footer-text);
        display: none;
        align-items: center;
        box-shadow: none;
    }
    .nav-item{
        width: 100%;
    }
    .design-for-future {
      gap: 3rem;
        flex-direction: column;
       padding-bottom: 25rem;
    }
    .page-section-head {
        position: initial;
        text-align: center;
        margin-top: 5rem;
    }
    .design-desktop-illustration {
        display: none;
    }
    .design-mobile-illustration {
        display: initial;
       display: flex;
        justify-content: center;
    }
    .design-mobile-illustration img{
        width: 100%;
        height: auto;
        max-width: 406px;
    }
    .state-of-art {
        background-repeat: no-repeat;
        background-image:  url("images/bg-pattern-circles.svg"),linear-gradient(to right, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 5rem;
        align-items: flex-end;
        justify-content: center;
        background-position:  -21rem -50rem,right;
        height: fit-content;
        margin-bottom: 0;
        height: 540px;
    }
    .state-art-illustration{
        position: absolute;
        top: -20rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .state-art-illustration img{
        width: 100%;
        max-width: 552px;
        height: auto;
    }
    .state-of-art .page-section-head{
        margin: 0;
    }
    .free-desktop-illustration{
        display: none;
    }
    .free-mobile-illustration{
        display: initial;
        display: flex;
        justify-content: center;
    }
    .free-mobile-illustration img{
        width: 100%;
        max-width: 498px;
        height: auto;
    }
    .free-open-simple{
        flex-direction: column;
        padding: 4rem;
        gap: 3rem;
    }
    footer, .footer-item-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    footer{
        gap: 5rem;
    }
    footer ul{
        align-items: center;
    }
    .footer-item{
        gap: 2rem;
    }
    .page-sub-section{
        text-align: center;
        gap: 3rem;
    }
    .page-section-body{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 3rem;
    }
    .main-page-section-design-for-future-text, .main-page-section-free-simple-text{
        gap: 5rem;
    }
    .footer-item-head{
        font-size: 2.5rem;
    }
}
@media (max-width:450px) {
    .state-of-art{
        height: 470px;
    }
}
@media (max-width:400px) {
    .state-of-art{
        height: 440px;
    }
}
.nav-sub-item li:hover{
    cursor: pointer;
    font-weight: 500;
}
.nav-item:hover{
    cursor: pointer;
}
.nav-item-hover:hover,
.footer-item li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.nav-desktop-buttons .nav-item-head-signup:hover {
background-color: var(--Very-light-red-CTA-hover-background);
    color: white;
    text-decoration: none;
    border: none;
}
.nav-desktop-buttons .nav-item-head-login:hover {
background-color: var(--Very-light-red-CTA-hover-background);
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    padding: 1.2rem 3rem;
}
.visible{
    display: flex;
}
.nav-mobile-hamburger:hover, .nav-mobile-close:hover{
    cursor: pointer;
}
.display-initial{
    display: initial;
}
.display-none{
    display: none;
}


